*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}
body{
    width: 100%;
    height: 100%;
    background: #fff no-repeat center fixed;
    background-size: cover;
}
a{
    text-decoration: none;
    color: #eee;
}
p{
    font-size: 1.8rem;
    font-weight: 300;
}
img{
    width: 100%;
}
header{
    width: 100%;
    height: 100vh;
}
.top-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    background-color: purple;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
    z-index: 50;
}
.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
section{
    padding: 6rem 0;
}
.section-heading{
    text-align: center;
    margin-bottom: 10rem;
}
.section-heading h1{
    font-size: 3.5rem;
    color: #000;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 1rem;
}
.section-heading h1::before,
.section-heading h1::after{
   content: '';
   position: absolute;
   bottom: -.5rem;
   left: 50%;
   transform: translateX(-50%);
   background-color: #000;
}
.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}
.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1.1rem;
}
.section-heading h6{
    font-size: 1.6rem;
    font-weight: 300;
    color: #000;
    
}
.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
}
li{
    margin: 3rem 2rem;
}
.nav-link{
    font-family: 'The Historia Demo', sans-serif;
    font-size: 3rem;
    /* padding: 12rem; */
    position: relative;
    left: 38%;
}
.nav-link:hover,
.nav-link:focus{
    background: linear-gradient(to top, #ffe383, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-nav.open{
    top: 0;
    border-radius: initial;
}
.menu-toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}
.menu-toggler.open{
    transform: rotate(-45deg);
}
.bar{
    background: linear-gradient(to right, green, #fd57bf);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}
.bar.half{
    width: 50%;
}
.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.start{
    transform: rotate(-450deg) translateX(.8rem);
}
.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.end{
    transform: rotate(-450deg) translateX(-.8rem);
}
/* top############################################################### */
.top{

}
.top-image img{
    position: relative;
    top: 100px;
}
.landingg-text{
    position: absolute;
    top: 600px;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 100%;
    text-align: center;
    /* z-index: 1; */
}
.landingg-text h1{
    font-size: 5rem;
    font-family: 'The Historia Demo', sans-serif;
    background: linear-gradient(to top, purple, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}
.landingg-text p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 30px;
    margin: 10px 20px 10px;
    color: #000;
}
/* project############################################## */
.project{
    position: relative;
    top: 380px;
}
.ject p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 30px;
    position: relative;
    bottom: 60px;
    margin: 10px 20px 10px;
    color: #000;
}
.youtube{
    margin: 10px 30px 10px;
}
/* about############################################ */
.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.about{
    position: relative;
    top: 450px;
}
.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}
.about-heading h1{
    font-size: 8rem;
    opacity: .3;
    color: #000;
}
.about-heading h6{
    font-size: 2rem;
    font-weight: 300;
    color: #000;
}
.about h1{

}
.about p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 30px;
    margin: 10px 20px 10px;
    color: #000;
}

/* contact################################################ */
.contact{
    /* background-color: #221e3f; */
    position: relative;
    top: 500px;
}
form{
    width: 70%;
    margin: 0 auto;
    position: relative;
    bottom: 60px;
    
}
form label{
    font-size: 2rem;
    color: #000;
}
input, textarea{
    background: #000;
}
input,
select,
textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: purple;
}
input[type="submit"]{
    width: initial;
    background-color: purple;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
}
input[type="submit"]:hover{
    color: #221e3f;
    background-color: #ffe838;
}
/* social links##############33######## */
.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5px;
}
.social-links li{
    margin: 0 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: var(--transition);
}
.social-links li:hover{
    transform: translateY(-5px);
}
.social-links li:nth-child(1){
    background-color: #3b5998;
}
.social-links li:nth-child(2){
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.social-links li:nth-child(3){
    background-color: #00acee;
}

.social-links a{
    font-size: 2rem;
    color: #fff;
    margin: 16px;
    position: relative;
    top: 14px;
}
.copyright{
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;
    top: 460px;
}
.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 2rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}
.up i{
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}
.copyright p{
    font-size: 1.4rem;
}
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}

@media(min-width: 768px){
    .menu-toggler {
        position: absolute;
        top: 5rem;
        right: 5rem;
        width: 5rem;
        height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1500;
        transition: transform 650ms ease-out;
    }
    .nav-link {
        font-family: 'The Historia Demo', sans-serif;
        font-size: 4rem;
        /* padding: 12rem; */
        position: relative;
        left: 40%;
    }
    /* top### */
    .landingg-text {
        position: absolute;
        top: 1300px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        z-index: 1;
    }
    .landingg-text h1 {
        font-size: 7rem;
    }
    .landingg-text p {
        font-size: 3rem;
        font-weight: 300;
        line-height: 40px;
        margin: 10px 20px 10px;
        color: #000;
    }
    /* project##### */
    .project {
        position: relative;
        top: 480px;
    }
    .section-heading h1 {
        font-size: 5rem;
        color: #000;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 1rem;
    }
    .section-heading h1::before {
        width: 20rem;
        height: 6px;
        border-radius: .8rem;
    }
    .section-heading h1::after {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
        bottom: -1.4rem;
    }
    .ject p {
        font-size: 3rem;
        font-weight: 300;
        line-height: 40px;
    }
    /* about###################### */
    .about {
        position: relative;
        top: 600px;
    }
    .about-heading h1 {
        font-size: 10rem;
    }
    .about-heading h6 {
        font-size: 3rem;
        font-weight: 600;
    }
    .about p {
        font-size: 3rem;
        font-weight: 300;
        line-height: 40px;
    }
    /* contact######################## */
    .contact {
        position: relative;
        top: 650px;
    }
    .section-heading h6 {
        font-size: 3rem;
        font-weight: 300;
        color: #000;
    }
    form label {
        font-size: 3rem;
        color: #000;
    }
    input {
        width: 100%;
        padding: 1rem;
        margin-bottom: 5px;
        height: 70px;
        font-size: 2rem;
    }
    textarea {
        height: 240px;
    }
    input[type="submit"] {
        width: initial;
        background-color: purple;
        color: #fff;
        padding: 1rem 2rem;
        border-radius: .8rem;
        cursor: pointer;
        transition: background-color 650ms;
    }
    .copyright {
        top: 640px;
    }
    .copyright p {
        font-size: 2rem;
    }
}

@media(min-width: 1000px){
    .nav-list {
        display: flex;
        right: 5%;
    }
    /* top###### */
    .top{
    }
    .top-image img{
        width: 50%;
    }
    .landingg-text{
        width: 50%;
        position: relative;
        top: -550px;
       
    }
    .landingg-text p{
        font-size: 2.5rem;
    }
    /* project##### */
    .project {
        position: relative;
        top: 350px;
    }
    .section-heading h1 {
        font-size: 3.5rem;
        color: #000;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 1rem;
    }
    .section-heading h1::before {
        width: 15rem;
        height: 4px;
        border-radius: .8rem;
    }
    .section-heading h1::after {
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        bottom: -1.4rem;
    }
    .ject{
        width: 45%;
    }
    .ject p {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 40px;
    }
    .youtube{
        width: 45%;
        position: relative;
        top: -340px;
        margin-left: 660px;
    }
    /* about###################### */
    .about {
        position: relative;
        top: 250px;
    }
    .about-heading h1 {
        font-size: 8rem;
    }
    .about-heading h6 {
        font-size: 3rem;
        font-weight: 600;
    }
    .about p {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 40px;
    }
    /* contact######################## */
    .contact {
        position: relative;
        top: 440px;
    }
    .section-heading h6 {
        font-size: 2.5rem;
        font-weight: 300;
        color: #000;
    }
    form label {
        font-size: 2.5rem;
        color: #000;
    }
    input {
        width: 100%;
        padding: 1rem;
        margin-bottom: 5px;
        height: 70px;
        font-size: 2rem;
    }
    textarea {
        height: 240px;
    }
    input[type="submit"] {
        width: initial;
        background-color: purple;
        color: #fff;
        padding: 1rem 2rem;
        border-radius: .8rem;
        cursor: pointer;
        transition: background-color 650ms;
    }
    .copyright {
        top: 440px;
    }
    .copyright p {
        font-size: 2rem;
    }
}